* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

$mainColor: #434343;
$secondColor: #ffc222;
$thirdColor: #00a149;
$whiteColor: #fff;

@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.header {
  background-color: $mainColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  z-index: 100;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 30rem;
  height: 8rem;
}

.logo-img {
  width: 5rem;
}

.logo-text {
  font-size: 3.4rem;
  font-weight: 700;
  color: $whiteColor;
}

.btn-action {
  padding: 1.5rem 4rem;
  background-color: $secondColor;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 3rem;
  border: none;
  transition: all 0.18s;
}

.btn-action:hover {
  background-color: $thirdColor;
  color: $whiteColor;
}

.nav-menu ul {
  @include flex-row();
  gap: 5rem;
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: 2.6rem;
  color: $whiteColor;
}

.link:hover {
  color: $secondColor;
}

.link-counter {
  @include flex-row();
  gap: 1rem;
}

.home-section {
  @include flex-col-start();
  height: 89vh;
  position: relative;
}

.primary-header {
  text-align: center;
  font-size: 6.5rem;
  font-weight: 700;
  margin: 25rem 0 4rem 0;
  color: $whiteColor;
}

.header-span {
  color: $secondColor;
}

.home-detail {
  font-size: 2rem;
  color: $whiteColor;
  margin-bottom: 5rem;
}

.call-action {
  display: flex;
  gap: 4rem;
}

.land-overly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.home-about-section {
  width: 100%;
  height: 100vh;
  position: relative;
  @include flex-row();
}

.veg-option {
  width: 40rem;
  height: 25rem;
  @include flex-col();
  gap: 7rem;
  border-radius: 2rem;
  background-color: $whiteColor;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-option {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  position: absolute;
  top: -10rem;
  left: 35rem;
}

.menus-op {
  font-size: 3.2rem;
  font-weight: 700;
}

.about-section {
  width: 140rem;
  height: 50rem;
  margin-top: 4rem;
  padding: 3rem;
  @include flex-row();
  gap: 5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 161, 73, 0.2);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}

.card-img {
  background-color: $whiteColor;
  width: 55rem;
  height: 45rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}

.card-info {
  height: 100%;
  width: 60%;
  padding: 2rem;
  @include flex-col-start();
  gap: 5rem;
}

.card-text {
  color: $thirdColor;
}

.Secondary-header {
  font-size: 4.6rem;
  font-weight: 700;
  text-align: center;
  color: #434343;
}

.about-text {
  width: 65rem;
  font-size: 2.4rem;
  text-align: left;
}

.about {
  height: 100vh;
  width: 100%;
}

.about-header {
  @include flex-row();
  height: 60vh;
  width: 100%;
  z-index: -10;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-primary {
  font-size: 7.6rem;
  font-weight: 700;
  text-align: center;
  color: $whiteColor;
}

.about-card {
  width: 100%;
  height: 100vh;
  margin-top: 20rem;
  @include flex-col();
  gap: 5rem;
}

.about-card-header {
  width: 100%;
  height: 20rem;
}

.about-section-card {
  background-color: $whiteColor;
  @include flex-row();
  width: 100%;
  height: 100vh;
}

.testimony-section {
  width: 100%;
  height: 100vh;
  @include flex-row();
  gap: 10rem;
  background-color: $whiteColor;
}

.about-text-testimony {
  width: 50rem;
  font-size: 2.4rem;
}

.customers {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4rem;
}

.grid-testimony {
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  gap: 2rem;
  padding: 2rem;
}

.card-img-about {
  width: 55rem;
  height: 45rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}

.card-testimony {
  width: 25rem;
  height: 20rem;
  @include flex-col();
  gap: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 161, 73, 0.2);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}

.img-test {
  width: 8rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.test-icon {
  @include flex-row();
  padding-right: 2rem;
  gap: 2rem;
}

.test-test {
  width: 20rem;
  font-size: 1.6rem;
}

.testimony-header {
  font-size: 2.4rem;
  font-weight: 600;
}
.home-footer {
  width: 100%;
  height: 50vh;
  @include flex-row();
  gap: 10rem;
  background-color: $thirdColor;
}

.home-footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5rem;
}

.footer-line {
  border-left: 2px solid $secondColor;
  height: 20rem;
}

.link-footer {
  color: $secondColor;
  font-size: 2.4rem;
  text-decoration: none;
}

.footer-header {
  font-size: 4.6rem;
  font-weight: 700;
  text-align: left;
  color: $whiteColor;
}

.nav-footer {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.footer-contact {
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: 600;
  padding-right: 10rem;
  color: $whiteColor;
}

.footer-text {
  font-size: 2.4rem;
  font-weight: 600;
  width: 55rem;
  color: $whiteColor;
  line-height: 1.5;
  text-align: left;
}

.nav-item-footer {
  text-decoration: none;
  list-style: none;
}

.overly {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(44, 50, 53, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  @include flex-row();
}

.model {
  position: relative;
  background-color: antiquewhite;
}

.close-btn {
  border-radius: 20rem;
  padding: 1.5rem 1.5rem;
  background-color: #696969;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  color: $whiteColor;
}

.hidden {
  display: none;
}

/* Desktop [601px -> 1200px] */

@media only screen and (min-width: 1340px) {
  .header {
    padding: 0 15rem;
    gap: 15rem;
  }

  .model {
    width: 90rem;
    height: 70rem;
    padding: 3rem;
  }
}

@media only screen and (max-width: 1340px) {
  .header {
    padding: 0 15rem;
    gap: 30rem;
  }

  .model {
    width: 90rem;
    height: 70rem;
    padding: 3rem;
  }
}

/* Tablets [601px -> 1200px] */

@media only screen and (max-width: 1200px) {
  .header {
    padding: 0 5rem;
    gap: 30rem;
  }

  .model {
    width: 70rem;
    height: 70rem;
    padding: 3rem;
  }
}

/* Big smartphones [426px -> 600px] */

@media only screen and (max-width: 770px) {
  .header {
    padding: 0 8rem;
    gap: 10rem;
  }

  .model {
    width: 60rem;
    height: 70rem;
    padding: 3rem;
  }
}

/* Small smartphones [325px -> 425px] */

@media only screen and (max-width: 425px) {
  .header {
    padding: 0;
    gap: 1rem;
  }

  .model {
    width: 36rem;
    height: 70rem;
    padding: 3rem;
  }
}
